@import "mixins";
@import "variables";
@import "celtics-framework";

body {
    background-color: #dfe0de !important;
}

textarea {
    width: 100%;
    height: 30px;
}

.output {
    height: 800px;
}

.a {
	margin-bottom: 20px;
}